<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Продукты</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<div class="container m-4 p-4">
    <h2>Продукты</h2>
    <div class="row">
        <div class="col-md-8">
            <form class="mt-2 mb-2" method="post" th:action="@{/add}">
                <div class="row">
                    <div class="col-md-5">
                        <input class="form-control" placeholder="Имя" th:name="title" type="text">
                    </div>
                    <div class="col-md-5">
                        <input class="form-control" maxlength="5" placeholder="Цена" th:name="cost" type="number">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" type="submit">Добавить</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <form class="mt-2 mb-2" method="get" th:action="@{/findById}">
                <div class="row">
                    <div class="col-md-8">
                        <input class="form-control" placeholder="Введите Id" th:name="id" type="text">
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-info" type="submit">Поиск</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <table class="table">
        <thead class="table-info">
        <tr>
            <th>ID</th>
            <th>Наименование</th>
            <th>Стоимость</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${products}" class="align-middle">
            <td th:text="${p.id}"></td>
            <td th:text="${p.title}"></td>
            <td th:text="${p.cost}"></td>
            <td>
                <a class="btn btn-outline-danger" th:href="@{/delete/{id}(id=${p.id})}">Delete</a>
            <td>
                <a class="btn btn-outline-info" th:href="@{/update/{id}(id=${p.id})}">Update</a>
            </td>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>